.screen {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    background-color: white;
    border-radius: 10px;
    border: 1px #ccc solid;
    padding: 15px;
    width: 30%;
}

.title, .container-title {
    color: #2A2529;
}

.title {
    font-weight: 800;
}

.container-title {
    font-weight: 600;
}


.link-path-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.link-path {
    color: #a59fa4;
    font-weight: 300;
    font-size: 14px;
    cursor: default;
}

.icon {
    font-size: 16px;
    cursor: pointer;
    padding: 5px;
    border-radius: 5px;
    color: #a59fa4;
}

.bi-x {
    font-size: 20px;
    cursor: pointer;
    color: #a59fa4;
}

.icon:hover {
    background-color: #a59fa41a;
    padding: 5px;
    border-radius: 5px;
    color: #948e93;
}

.icon:active, .bi-x:active {
    color: #837e82;
}

.container-icon {
    padding: 10px;
    font-size: 30px;
    border-radius: 10px;
    background-color: white;
    color: #a59fa4;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
    margin-right: 10px;
}

.container-description{
    font-size: 14px;
    color: #a59fa4;
}

.invite {
    font-weight: 400;
    color: #2A2529;
    margin: 15px 0px 10px 0;
}

.search-bar{
    display: flex;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
    align-items: center;
    justify-content: space-between;
}

.bi-person-add {
    color: #a59fa4;
    font-size: 20px;
    margin-left: 10px;
}

.input-search-bar {
    margin: 0px 10px; 
    outline: none;
    border: none;
    color: #2A2529;
    font-size: 14px;
    width: 100%;
}

.input-search-bar::placeholder{
    color: #a59fa4;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}

.content-container {
   display: flex;
}

.invite-button {
  position: relative;
  background: #a59fa41a;
  border: none;
  padding: 10px 25px;
  font-size: 14px;
  font-weight: 500;
  color: #ccc;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  gap: 6px;
}

/* underline */
.invite-button::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 2px;
  background-color: #4f46e5;
  transition: width 0.3s ease;
}

/* hover */
.invite-button:hover::after {
  width: 100%;
}

/* opcional: leve feedback no hover */
.invite-button:hover {
  opacity: 0.95;
  color: #4f46e5;
}

.invite-button:active {
  opacity: 0.95;
  color: white;
  background-color: #4f46e5;
}


.container {
    display: flex;
    align-items: center;
    border-radius: 10px;
    padding: 10px;
    background-color: #a59fa41a;
    margin: 10px 0px;
    justify-content: space-between;
}

.switch {
  position: relative;
  display: flex;
}

.slider {
    border-radius: 15px;
    padding: 10px;
    cursor: pointer;
    inset: 0;
    background-color: #ccc;
    transition: 0.3s;
    margin-left: -20px;
    }
    
.slider::before {
  position: absolute;
  content: "";
  height: 15px;
  width: 15px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  transition: 0.3s;
  border-radius: 50%;
}

.switch input:checked + .slider {
  background-color: #4f46e5; 
}

.switch input:checked + .slider::before {
  transform: translateX(20px);
}

.bi-send-fill {
    margin-right: 5px;
    font-size: 14px;
}

.title-container{
    display: flex;
    justify-content: space-between;
}

.esc {
    font-size: 10px;
    color: #948e93;
    background-color: #a59fa41a;
    padding: 4px;
    border-radius: 5px;
    margin-right: 5px;
    cursor: default;
}

.esc-container{
    display: flex;
    align-items: center;
}