/* Base do botão */
.button {
  font-family: var(--font-family-base);
  font-size: var(--font-size-sm);
  border: none;
  padding: 10px 25px;
  cursor: pointer;
  transition: all 0.3s ease, transform 0.1s ease;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

/*Botão desabilitado*/
.disabled {
  background-color: #E0E0E0;
  color: #A6A6A6;
  cursor: not-allowed;
}

.icon {
  margin-left: 5px;
  transition: transform 0.3s ease;
}

.transparent {
  background-color: transparent;
  color: white;
  font-weight: var(--font-weight-medium);
  text-transform: uppercase;
  font-size: 12px;
}

.black {
  background-color: black;
  color: white;
  font-weight: var(--font-weight-medium);
  text-transform: uppercase;
  font-size: 12px;
}

.button:hover .icon {
  transform: translateX(4px);
}
