.menu-card {
    background-color: white;
    border-radius: 10px;
    border: 1px #a59fa4 solid;
    width: 20%;
    transform: translateY(20px) scale(0.96);
    opacity: 0;
    transition: all 0.25s ease;
}

.menu-container {
    background-color: #a59fa40e;
    border-radius: 10px;
    height: 20vh;
    border-top: 1px solid #a59fa40e;
}

/* botão + (FAB) */
.fab {
  position: fixed;
  bottom: 24px;
  right: 24px;
  width: 52px;
  height: 52px;
  border-radius: 50%;
  border: none;
  background-color: #4f46e5;
  color: white;
  font-size: 24px;
  cursor: pointer;
}

/* overlay */
.overlay {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;

  opacity: 0;
  pointer-events: none;
  transition: opacity 0.25s ease;
}

.overlay.open {
  opacity: 1;
  pointer-events: auto;
}

.overlay.open .menu-card {
  transform: translateY(0) scale(1);
  opacity: 1;
}
