.container {
    min-height: 100vh;
    width: 100%;
    display: flex;
}

.image,
.content {
    flex: 1;
}

.image {
    display: flex;
    align-items: center;
    justify-content: center;
}

.img {
    background-color: whitesmoke;
    border-radius: 25px;
    width: 30vw;
    transition: transform 0.3s ease;
    margin-left: 100px;
}

.img:hover {
  transform: translateY(-5px);
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5em;
}

.line {
    border-bottom: 1px solid white;
    margin: 0.5em 0;
}

.description {
    margin-bottom: 2.5em;
}
