.container {
    min-height: 100vh;
    width: 100%;
    display: flex;
}

.image,
.content {
    flex: 1;
}

.image {
    display: flex;
    align-items: center;
    justify-content: center;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5em;
}

.line {
    border-bottom: 1px solid white;
    margin: 0.5em 0;
}

.description {
    margin-bottom: 2.5em;
}
