.grid {
  width: 1100px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px;
}

.container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}