.hero {
  position: relative;
  height: 100vh;
  overflow: hidden;
}

.canvas {
  position: absolute;
  inset: 0;
  z-index: 0;
  pointer-events: none;

}


.content {
    position: relative;
    z-index: 1;
}

/* seu CSS atual continua */
.containerbr {
    cursor: default;
    user-select: none;
}

.header {
    padding: 20px;
    display: flex;
    justify-content: right;
}

.autorbr {
    text-align: right;
    font-size: 12px;
    font-weight: 200;
}

.frasebr {
    font-size: 14px;
    font-weight: 200;
}

.frasecn, .autor {
    font-size: 18px;
    font-family: "Noto Sans SC", sans-serif;
    font-weight: 100;
}

.containercn {
    cursor: default;
    user-select: none;
}

.container {
    display: flex;
    justify-content: center;
}
