.title-container{
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

.esc {
    font-size: 10px;
    color: #948e93;
    background-color: #a59fa41a;
    padding: 4px;
    border-radius: 5px;
    margin-right: 5px;
    cursor: default;
}

.esc-container{
    display: flex;
    align-items: center;
}

.bi-x {
    font-size: 20px;
    cursor: pointer;
    color: #a59fa4;
}

.bi-x:active {
    color: #837e82;
}

.title {
    color: #2A2529;
    font-weight: 800;
}
