@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700&display=swap');

:root {

  /* Tipografia */

  /* Fonte */
  --font-family-base: 'Inter', system-ui, Avenir, Helvetica, Arial, sans-serif;

  /* Tamanhos */
  --font-size-sm: 12px;
  --font-size-base: 14px;
  --font-size-md: 16px;
  --font-size-lg: 18px;
  --font-size-xl: 20px;
  --font-size-2xl: 40px;

  /* Expessura */
  --font-weight-thin: 100;
  --font-weight-extralight: 200;
  --font-weight-light: 300;
  --font-weight-normal: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;

  /* Cores */

  /* Texto */
  --color-text: white;

  /* Cores da aplicação */
  --color-default: #792AFC;
  --color-contrast: #444;


  /* Arredondamento da borda */
  --border-radius: 10px;

  font-family: var(--font-family-base);
  line-height: 1;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  background-color: #000000;
  color: var(--color-text);
  overflow-x: hidden;
  scroll-behavior: smooth;
}

section {
  min-height: 100vh;
  user-select: none;
}

/* Responsividade */
@media (min-width: 768px) {
  :root {
    --font-size-xsm: 10px;
    --font-size-sm: 14px;
    --font-size-base: 16px;
    --font-size-md: 18px;
    --font-size-lg: 20px;
    --font-size-xl: 24px;
    --font-size-2xl: 28px;
  }
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  padding: 0;
  margin: 0;
}

@keyframes pulse {
  0% {
    transform: translate(-50%, -50%) scale(1);
    opacity: 0.6;
  }
  100% {
    transform: translate(-50%, -50%) scale(2.5);
    opacity: 0;
  }
}



p {
  font-size: var(--font-size-sm);
  font-weight: var(--font-weight-extralight);
}

b {
  font-size: var(--font-size-sm);
  font-weight: var(--font-weight-semibold);
}


.app-layout {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}


h2 {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-lg);
  margin-bottom: -5px;
}

h3 {
    text-transform: uppercase;
    font-weight: var(--font-weight-medium);
    font-size: var(--font-size-sm);
}

h4 {
  font-size: var(--font-size-xsm);
  letter-spacing: 2px;
  font-weight: var(--font-weight-medium);
}


.devicon-linkedin-plain {
    margin-right: 0.2em;
    font-size: var(--font-size-md);
}