header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;
  height: 100vh;
  background-color: transparent;
  padding: 10px;
  z-index: 999;
}
