.nav-container{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px;
    background-color: transparent;
    border-radius: 8px;
    cursor: pointer;
    transition: background 0.15s ease-in-out;
    gap: 15px;
}

.nav-icon{
    background-color: transparent;
    padding: 10px;
    border-radius: 10px;
    font-size: 20px;
    color: white;
    transition: color 0.15s ease-in-out;
}


/* LABEL */
.nav-label {
  position: relative;
  font-size: 12px;
  letter-spacing: 0.8px;
  color: #ffffff;
  padding: 6px 12px;
  width: 5em;
  text-align: center;

  opacity: 0;
  transform: translateX(-6px);
  pointer-events: none;

  transition: opacity 0.3s ease, transform 0.3s ease;
  user-select: none;
}

/* cantinhos delicados */
.nav-label::before,
.nav-label::after {
  content: "";
  position: absolute;
  width: 8px;
  height: 8px;
  border: 1px solid white;
}

.nav-label::before {
  top: 0;
  left: 0;
  border-right: none;
  border-bottom: none;
}

.nav-label::after {
  bottom: 0;
  right: 0;
  border-left: none;
  border-top: none;
}

/* HOVER */
.nav-container:hover .nav-label {
  opacity: 1;
  transform: translateX(0);
}

.nav-container.active {
  color: #00bfff;
  font-weight: bold;
  transform: scale(1.05);
}